

<p>
Question: <%= @question.problem %>
</p>

<% if @question.user == current_user%>
  <p>
  Answer: <%= @question.answer %>
  </p>
<% else %>

  
  <%= form_for @response, url: answer_path do |f| %>
  
  <%= f.hidden_field :problem, value: @question.problem %>
  <p>
  <%= f.label :answer %><br/>
  <%= f.text_field :answer %>
  </p>
  
  <p><%= f.submit 'answer' %></p>
  
  <% end %>
  
<% end %>
