<h1>Create an question</h1>

<% if @question.errors.any? %>

<h2>The following errors prevented the question from getting created</h2>

<ul>

<% @question.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

<% end %>



<%= form_for @question do |f| %>

<p>

<%= f.label :problem %><br/>

<%= f.text_field :problem %>

</p>

<p>

<%= f.label :answer %><br/>

<%= f.text_field :answer %>

</p>

<p>

<%= f.submit %>

</p>

<% end %>

<%= link_to "Back to questions listing", questions_path %>