<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<%= gravatar_for @user, size: 150 %>

<h4 align="center"><%= @user.username %>'s questions</h4>
<%= will_paginate @user_questions %>
<%= render 'questions/question', obj: @user_questions %>
<%= will_paginate @user_questions %>